

<ion-content [fullscreen]="true">
  <div class="design2">
    <img src="/assets/form3.png" alt="">
  </div>
  <div class="design1">
    <img src="/assets/form2.png" alt="">
  </div>
  
  <div class="img-custom">
  <img class ="bg"src="/assets/fe.png" alt="">
  </div>


<ion-grid [fixed]="true"  id="mySelect">
  <ion-row>
    <!-- <ion-col >
      <ion-list>
        <ion-item>
          <ion-select class="custom-select" placeholder="Equipment">
            <ion-select-option value="Fire_Extinguisher">Fire Extinguisher</ion-select-option>
            <ion-select-option value="Smoke_Detector">Smoke Detector</ion-select-option>
            <ion-select-option value="Sprinkler">Sprinkler</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col> -->
    

   
    <ion-col>
      <ion-list>
        <ion-item lines ="none">
        <ion-select   [(ngModel)]="selectedOption"  class="custom-select" placeholder="Select Equipment" interface="popover" fill="outline">
          <ion-select-option  value="fire">FE1</ion-select-option>
          <ion-select-option value="fire1">FE2</ion-select-option>
          <ion-select-option value="fire2" >FE3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-col>

    <ion-col>
      <ion-list>
      <ion-item lines ="none" >
      <ion-select   [(ngModel)]="selectedOption1" class="custom-select1"   placeholder="Select Buildings" interface="popover" fill="outline">
        <ion-select-option  value="fire">CICS</ion-select-option>
        <ion-select-option  value="fire1">CEAFA</ion-select-option>
        <ion-select-option  value="fire2">CIT</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-col>

    <ion-col>
      <ion-list>
      <ion-item lines ="none">
      <ion-select  [(ngModel)]="selectedOption2" class="custom-select1"  placeholder="Select Floor" interface="popover" fill="outline">
        <ion-select-option  value="fire">1st Floor</ion-select-option>
        <ion-select-option  value="fire1">2nd Floor</ion-select-option>
        <ion-select-option  value="fire2">3rd Floor</ion-select-option>
      </ion-select>
      </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>





<!-- <div class = "content-sec" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' ">
  <table class="ion-table">
    <thead align="center">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Remarks</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Nozzle</th>
        <th>Gauge</th>
        <th>Pin Lock</th>
        <th>Body</th>
        <th>Inspected By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <p *ngIf="currentDate"> {{ currentDate }}</p></td>
        <td><p *ngIf="currentTime"> {{ currentTime }}</p></td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>Kc Dimayuga</td>
        
      </tr>
   
    </tbody>
  </table>
</div>
<div  class="update-b" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' " >
  <ion-button (click)="updateData()">Update</ion-button>
</div> -->


<div class = "content-sec" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' ">
  <ion-grid fixed >
    <ion-row >
   
      <ion-col class="header" >Remarks</ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="highlight">
    <ion-row class="header">
      <ion-col>Date</ion-col>
      <ion-col>Time</ion-col>
      <ion-col>Nozzle</ion-col>
      <ion-col>Gauge</ion-col>
      <ion-col>Pin/Lock</ion-col>
      <ion-col>Body</ion-col>
      <ion-col>Inspected By</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid> 
    <ion-row>
      <ion-col *ngIf="currentDate"> {{ currentDate }}</ion-col>
      <ion-col *ngIf="currentTime">{{ currentTime }}</ion-col>
      <ion-col> <ion-radio-group value="custom-checked">
        <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
        <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
      </ion-radio-group>
    </ion-col>
      <ion-col> <ion-radio-group value="custom-checked">
        <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
        <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
      </ion-radio-group>
    </ion-col>
      <ion-col> <ion-radio-group value="custom-checked">
        <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
        <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
      </ion-radio-group>
    </ion-col>
      <ion-col>
        <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
      </ion-col>
      <ion-col>Kc Dimayuga</ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
