

<ion-content class="bg-color">
	<!-- <ion-img class="bg-color" src="assets/ecbg.png"></ion-img> -->
	<div class="login-container">
		
		<img class="img-d"  alt="bus" src="assets/bsu-a.png" />
		<h1 class="ct-title" >EquipCheck</h1>
	<form (keydown.enter)="logMeIn()">
		<ion-item lines="none" >
			<ion-input class="input-user "    labelPlacement="stacked" placeholder="Username" type="text" [(ngModel)]="Username" name="username" required></ion-input>
		</ion-item>
	
		<ion-item lines="none" >
			<ion-input class="input-pass"  labelPlacement="stacked" placeholder="Password" type="password" [(ngModel)]="Password" name="password" required></ion-input>	
		</ion-item>
			<ion-row>
				<ion-col>
					<input type="checkbox" id="remember-me" name="remember-me">
					<label class="rmb" for="remember-me">Remember me</label>
					<a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button expand="block" (click)="logMeIn()">Login</ion-button>
				</ion-col>
			</ion-row>
	</form>
	</div>
</ion-content>